{% extends "base.html" %}

{% block pagetitle %}
    Ai Tour Guide
{% endblock pagetitle %}

{% block isactivee %}text-red-500{% endblock isactivee %}


  {% load static %}


{% block styling %}

  iframe {
    width: 100%;
    height: 100vh;
    border: none;
    margin-top:60px;
  }


  
{% endblock styling %}



{% block maincontent %}


<iframe src="https://dbec-91-93-239-182.ngrok-free.app"></iframe>
{% comment %} <iframe src="http://192.168.1.8:8080"></iframe> {% endcomment %}



{% endblock maincontent %}


