{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}{% endblock pagetitle %} | InterTRGuide</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="58cdf2d9-093a-4830-a12c-403c7281fc9f";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

	<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>


<style>
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

	{% block stylingInHead %}{% endblock stylingInHead %}
</style>
	<link rel="icon" href="{{ MEDIA_URL }}{% static 'app/icon png.png' %}" type="image/x-icon">
	<style>
			/* Custom button styles */
			#start-button {
			  position: relative;
			  height: 50px;
			  padding: 0 30px;
			  border: 2px solid #000;
			  background: #e8e8e8;
			  color: #000; /* Ensure the text color is visible */
			  user-select: none;
			  white-space: nowrap;
			  transition: all 0.05s linear;
			  font-family: inherit;
			}
	
			#start-button:before, #start-button:after {
			  content: "";
			  position: absolute;
			  background: #e8e8e8;
			  transition: all 0.2s linear;
			}
	
			#start-button:before {
			  width: calc(100% + 6px);
			  height: calc(100% - 16px);
			  top: 8px;
			  left: -3px;
			}
	
			#start-button:after {
			  width: calc(100% - 16px);
			  height: calc(100% + 6px);
			  top: -3px;
			  left: 8px;
			}
	
			#start-button:hover {
			  cursor: pointer;
			}
	
			#start-button:active {
			  transform: scale(0.95);
			}
	
			#start-button:hover:before {
			  height: calc(100% - 32px);
			  top: 16px;
			}
	
			#start-button:hover:after {
			  width: calc(100% - 32px);
			  left: 16px;
			}
	
			#start-button span {
			  font-size: 15px;
			  z-index: 3;
			  position: relative;
			  font-weight: 600;
			}
		  {% block styling %}{% endblock styling %}
	</style>
	{% block headthings %}
	
	{% endblock headthings %}

</head>
<body>
    <!-- component -->
{% comment %} <nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto">
	<div class="md:h-16 h-28 mx-auto md:px-4 container flex items-center justify-between flex-wrap md:flex-nowrap">
		<!-- Logo -->
		<div class="text-red-500 md:order-1">
			<!-- Heroicon - Chip Outline -->
			<a href="{% url "home" %}"><img src="{% static 'app/icon png.png' %}" class="h-10 w-10"></a>
			
			
			
		</div>
		<div class="text-gray-500 order-3 w-full md:w-auto md:order-2">
			<ul class="flex font-semibold justify-between">
                <!-- Active Link = text-red-500
                Inactive Link = hover:text-red-500 -->
				<li class="md:px-4 md:py-2 {% block isactive %}{% endblock %} hover:text-red-400"><a href="{% url "home" %}">Home</a></li>
				<li class="md:px-4 md:py-2 {% block isactivee %}{% endblock %} hover:text-red-400"><a href="{% url "aitg" %}">AI Tour guide</a></li>
				<li class="md:px-4 md:py-2 {% block isactiveee %}{% endblock %} hover:text-red-400"><a href="{% url "pricing" %}">Pricing</a></li>
				<li class="md:px-4 md:py-2 {% block isactiveeee %}{% endblock %} hover:text-red-400"><a href="{% url "about" %}">About</a></li>
				<li class="md:px-4 md:py-2 {% block isactiveeeee %}{% endblock %} hover:text-red-400"><a href="{% url "contact" %}">Contact</a></li>
			</ul>
		</div>
		<div class="text-red-500 md:order-3">
			<a href="{% url "home" %}"><img src="{% static 'app/icon png.png' %}" class="h-10 w-10"></a>	
		</div>
		<div class="order-4 md:order-4">
			<a href="{% url "login" %}">
				<button class="px-4 py-2 bg-red-500 hover:bg-red-600 text-gray-50 rounded-xl flex items-center gap-2">
					<!-- Heroicons - Login Solid -->
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
					</svg>
					
						{% if user.is_authenticated %}
							<a href="{% url "logout" %}"><span>Logout</span></a>
						{% else %}
							<a href="{% url "login" %}"><span>Login</span></a>
						{% endif %}
					
				</button>
			</a>
		</div>
	</div>
</nav> {% endcomment %}



<nav class="bg-gray-200 shadow shadow-gray-300 w-100 px-8 md:px-auto">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 bg-gray-200">
	<a href="{% url "home" %}" class="flex items-center space-x-3 rtl:space-x-reverse">
		<img src="{% static 'app/icon png.png' %}" class="h-8" alt="Flowbite Logo" />
		<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">InterTRGuide</span>
	</a>
	<div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse bg-gray-200">
		<button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
		  <span class="sr-only">Open user menu</span>
		  {% if user.is_authenticated %}
		  <img class="w-8 h-8 rounded-full" src="{{ MEDIA_URL }}{{ user.image.url }}" alt="">
		  {% else %}
		  <img class="w-8 h-8 rounded-full" src="{{ MEDIA_URL }}{% static "app/default.png" %}" alt="">
		  {% endif %}
		</button>
		<!-- Dropdown menu -->
		<div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
		  <div class="px-4 py-3">
			{% if user.is_authenticated %}
			<span class="block text-sm text-gray-900 dark:text-white">{{user.name|capfirst}}</span>
			<span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{user.email}}</span>
			{% else %}

			{% endif %}
		  </div>
		  <ul class="py-2" aria-labelledby="user-menu-button">
			{% if user.is_authenticated %}
			<li>
				<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">My Scans</a>
			  </li>
			  <li>
				<a href="{% url "settings" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
			  </li>
			{% else %}

			{% endif %}
			{% if user.is_authenticated %}
			<li>
			  
			  <a href="{% url "logout" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
			  {% else %}
			  <a href="{% url "login" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign in</a>
			  
			</li>
			<li>
				<a href="{% url "signup" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign up</a>
			</li>
			{% endif %}
		  </ul>
		</div>
		<button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
		  <span class="sr-only">Open main menu</span>
		  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
			  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
		  </svg>
	  </button>
	</div>
	<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-gray-200" id="navbar-user">
	  <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-gray-200 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
		<li>
		  <a href="{% url "home" %}" class="block py-2 px-3 text-gray-900 {% block isactive %}{% endblock %}  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
		</li>
		<li>
		  <a href="{% url "aitg" %}" class="block py-2 px-3 text-gray-900 {% block isactivee %}{% endblock %}  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">AI Tour guide</a>
		</li>
		<li>
		  <a href="{% url "tr_in_blocks" %}" class="block py-2 px-3 text-gray-900 {% block isactiveeeeee %}{% endblock %}  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">TR in Blocks</a>
		</li>
		<li>
		  <a href="{% url "pricing" %}" class="block py-2 px-3 text-gray-900 {% block isactiveee %}{% endblock %} rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
		</li>
		<li>
		  <a href="{% url "about" %}" class="block py-2 px-3 text-gray-900 {% block isactiveeee %}{% endblock %} rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
		</li>
		<li>
		  <a href="{% url "contact" %}" class="block py-2 px-3 text-gray-900 {% block isactiveeeee %}{% endblock %} rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
		</li>
	  </ul>
	</div>
	</div>
  </nav>
  


{% block maincontent %}
	
{% endblock maincontent %}

<footer class="bg-gray-200 shadow shadow-gray-300 text-gray-600 body-font">
	<div class="container px-5 py-24 mx-auto">
	  <div class="flex flex-wrap md:text-left text-center order-first">
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
		  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Nav links</h2>
		  <nav class="list-none mb-10">
			<li>
			  <a href="{% url "home" %}" class="text-gray-600 hover:text-gray-800">Home</a>
			</li>
			<li>
				<a href="{% url "aitg" %}" class="text-gray-600 hover:text-gray-800">Ai Tour Guide</a>
			</li>
			<li>
				<a href="{% url "tr_in_blocks" %}" class="text-gray-600 hover:text-gray-800">TR in Blocks</a>
			</li>
			<li>
				<a href="{% url "pricing" %}" class="text-gray-600 hover:text-gray-800">Pricing</a>
			</li>
		  </nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
		  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Nav links</h2>
		  <nav class="list-none mb-10">
			<li>
				<a href="{% url "about" %}" class="text-gray-600 hover:text-gray-800">About</a>
			</li>
			<li>
				<a href="{% url "contact" %}" class="text-gray-600 hover:text-gray-800">Contact</a>
			</li>
		  </nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
		  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
		  <nav class="list-none mb-10">
			<li>
			  <a class="text-gray-600 hover:text-gray-800"></a>
			</li>
			<li>
			  <a class="text-gray-600 hover:text-gray-800"></a>
			</li>
			<li>
			  <a class="text-gray-600 hover:text-gray-800"></a>
			</li>
			<li>
			  <a class="text-gray-600 hover:text-gray-800"></a>
			</li>
		  </nav>
		</div>
		<div class="lg:w-1/4 md:w-1/2 w-full px-4">
		  <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
		  <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-end md:justify-start">
			<div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
			  <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-red-200 focus:border-red-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" spellcheck="false" data-ms-editor="true">
			</div>
			<button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">SUBSCRIBE</button>
		  </div>
		  <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Subscribing to our newsletter</p>
			<br class="lg:block hidden">
		  </p>
		</div>
	  </div>
	</div>
	<div class="bg-gray-100">
	  <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
		<a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
			<img src="{% static 'app/icon png.png' %}" class="h-10 w-10">
		  <span class="ml-3 text-xl">InterTRGuide</span>
		</a>
		<p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2024 InterTRGuide —
		  <a href="https://twitter.com/abdullah_eltiby" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Abdullah ElTiby</a>
		</p>
		<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
		  <a class="text-gray-500">
			<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
			</svg>
		  </a>
		  <a class="ml-3 text-gray-500">
			<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
			</svg>
		  </a>
		  <a class="ml-3 text-gray-500">
			<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
			  <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
			  <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
			</svg>
		  </a>
		  <a class="ml-3 text-gray-500">
			<svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
			  <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
			  <circle cx="4" cy="4" r="2" stroke="none"></circle>
			</svg>
		  </a>
		</span>
	  </div>
	</div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

  {% block DS %}
  <div>

  </div>
  {% endblock DS %}

  {% block script %}

  {% endblock script %}

  {% block scripts %}{% endblock scripts %}


</body>
</html>