{% extends "base.html" %}

{% block pagetitle %}TR in Blocks{% endblock pagetitle %}

{% block isactiveeeeee %}
text-red-500
{% endblock isactiveeeeee %}

{% block maincontent %}

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Turkey in Blocks</h1>
          <div class="h-1 w-20 bg-red-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Explore Turkey's diverse regions in blocks, each offering unique landscapes, rich history, and vibrant culture. From the bustling streets of Istanbul to the ancient ruins of Ephesus, uncover the beauty and charm of every corner of Turkey.</p>
      </div>
      <div class="flex flex-wrap -m-4 justify-center">
        {% for category in categorys %}
        <div class="xl:w-1/4 md:w-1/2 sm:w-2/3 w-full p-4">
            <a href="{% url 'category_detail' category.id %}">
                <div class="bg-gray-100 p-6 rounded-lg h-full flex flex-col justify-between">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{category.image.url}}" alt="content">
                    <div>
                        <h3 class="tracking-widest text-red-500 text-xs font-medium title-font">{{category.name|capfirst}}</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
                          {% if category.places.count > 0 %}
                          {% for place in category.places.all|slice:":2" %}
                          <li class="text-gray-700 flex items-center">
                              {{ place.name|capfirst }}
                          </li>
                      {% endfor %}
                      {% else %}
                      <li class="text-gray-700 flex items-center">No places available.</li>
                      {% endif %}
                        </h2>
                        <p class="leading-relaxed text-base">{{category.description|capfirst|truncatechars:105}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
      
    </div>
  </section>

{% endblock maincontent %}